local   all             postgres                                peer
local   all             all                                     peer
host    all             all             127.0.0.1/32            md5
host    all             all             ::1/128                 md5
{% for backend in groups['web'] %}
host all all {{ hostvars[backend]['ansible_eth1']['ipv4']['address'] }}/24 password
{% endfor %}