# \uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD \uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD Alfresco.
#######################################

#######################################
#Custom content and index data settings
dir.root = {{dms_alf_data}}

dir.contentstore={{dms_contentstore}}
dir.contentstore.deleted={{dms_contentstore_deleted}}
index.recovery.mode = AUTO
#index.recovery.mode=FULL

lucene.indexer.useInMemorySort = true
lucene.indexer.maxRawResultSetSizeForInMemorySort = 100
index.tracking.disableInTransactionIndexing = false
lucene.maxAtomicTransformationTime = 0
system.acl.maxPermissionChecks = 10000
system.acl.maxPermissionCheckTimeMillis = 300000
server.transaction.max-retries = 3


######################################
#Cache setting
lucene.indexer.maxDocIdCacheSize=100000
lucene.indexer.maxDocumentCacheSize=500000
lucene.indexer.maxTypeCacheSize=100000
lucene.indexer.maxIsCategoryCacheSize=100000
lucene.indexer.maxLinkAspectCacheSize=100000
lucene.indexer.maxParentCacheSize=10000
lucene.indexer.maxPathCacheSize=10000

cache.propertyValueCache.tx.maxItems=10000
cache.propertyValueCache.maxItems=100000
cache.node.propertiesSharedCache.tx.maxItems=100000
cache.node.propertiesSharedCache.maxItems=300000
cache.userToAuthoritySharedCache.tx.maxItems=1000
cache.userToAuthoritySharedCache.maxItems=10000
cache.authenticationSharedCache.tx.maxItems=100
cache.authenticationSharedCache.maxItems=10000
cache.readersSharedCache.tx.maxItems=100000
cache.readersSharedCache.maxItems=100000
cache.readersDeniedSharedCache.tx.maxItems=100000
cache.readersDeniedSharedCache.maxItems=100000
cache.aclSharedCache.tx.maxItems=200000
cache.aclSharedCache.maxItems=500000
cache.aclEntitySharedCache.tx.maxItems=100000
cache.aclEntitySharedCache.maxItems=100000
cache.authoritySharedCache.tx.maxItems=100000
cache.authoritySharedCache.maxItems=100000

########################
#DB settings
db.username = alfresco
db.password = alfresco
db.schema.update = true
db.driver = org.postgresql.Driver
db.url = {{dms_app_connection_string}}
hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
db.pool.statements.enable = false

#######################################
#Cluster settings
alfresco.hazelcast.mancenter.enabled=false
alfresco.hazelcast.mancenter.url=http://msk-okb-csed-02:8080/mancenter
hazelcast.jmx=true
alfresco.hazelcast.password=alfrescocluster
alfresco.cluster.name = SimpleCluster

#
#######################################
#Mail settings
mail.host = 10.1.99.211
mail.port = 2525
mail.username = testlink
mail.password = koruspassW782
mail.smtp.auth = true
mail.encoding = UTF-8
mail.header = base64
mail.from.default = testlink@korusconsulting.ru
mail.protocol = smtp
mail.smtp.timeout = 30000
mail.validate.addresses = false

#######################################
#External delivery

#######################################
#External tools
ooo.exe=soffice
ooo.enabled=true
ooo.port=8100

jodconverter.enabled=false
jodconverter.officeHome=/usr/lib/libreoffice
jodconverter.portNumbers=8100

img.enabled = true
img.root=/opt/common
img.dyn=${img.root}/lib
img.exe=convert

swf.exe = /opt/common/bin/.pdf2swf.bin

ffmpeg.enabled = true
ffmpeg.exe = ffmpeg

jodconverter.enabled = false
jodconverter.officeHome = C:/ThirdPartyApp/libreoffice/App/libreoffice
jodconverter.portNumbers = 8100
jodconverter.taskExecutionTimeout = 120000
jodconverter.taskQueueTimeout = 120000
jodconverter.maxTasksPerProcess = 20
content.transformer.JodConverter.priority=99
content.transformer.JodConverter.extensions.doc.pdf.maxSourceSizeKBytes=102400
content.transformer.JodConverter.extensions.docm.pdf.maxSourceSizeKBytes=102400
content.transformer.JodConverter.extensions.docx.pdf.maxSourceSizeKBytes=102400
content.transformer.JodConverter.extensions.dotm.pdf.maxSourceSizeKBytes=102400
content.transformer.JodConverter.extensions.dotx.pdf.maxSourceSizeKBytes=102400
#content.transformer.JodConverter.extensions.html.pdf.supported=false
content.transformer.JodConverter.extensions.potm.pdf.maxSourceSizeKBytes=102400
content.transformer.JodConverter.extensions.potx.pdf.maxSourceSizeKBytes=102400

content.transformer.Pdf2swf.maxSourceSizeKBytes = 102400
content.transformer.complex.OpenOffice.Pdf2swf.extensions.doc.swf.maxSourceSizeKBytes=102400
content.transformer.complex.OpenOffice.Pdf2swf.extensions.docx.swf.maxSourceSizeKBytes=102400

# transformer settings
# ============================
transformer.debug.entries=22  # default=0
content.transformer.default.maxPages=-1
content.transformer.default.maxSourceSizeKBytes=-1
content.transformer.default.pageLimit=-1
content.transformer.default.priority=100
content.transformer.default.readLimitKBytes=-1
content.transformer.default.readLimitTimeMs=-1
content.transformer.default.thresholdCount=5