# Настройки КСЭД
#######################################
#General app settings
supportPhone = 777-777
supportEmail = sed-support@korusconsulting.ru
minPasswordLength = 5
allowEmptyPassword = false
enableEmailNotifications = false
#ccEmailNotificationsUserName = admin
enableErrandGenerator = false
storeExecutedTasksPeriod = 5
dms-app.base.URL = int.dm.korusconsulting.ru
allowUsersReadAllDocuments = false
ui.departamenttasks.show=false

#######################################
#System properties
department.init.thread.count=4
migration.dir={{dms_migration_data}}

#######################
# Reporting Database configuration
reporting.enabled=false
#reporting.db.schema.stopAfterSchemaBootstrap=false
#reporting.db.schema.update=true
#reporting.db.schema.update.lockRetryCount=24
#reporting.db.schema.update.lockRetryWaitSeconds=5
reporting.db.driver = org.postgresql.Driver
reporting.db.dialect = org.hibernate.dialect.PostgreSQLDialect
reporting.db.url = {{dms_reporiting_connection_string}}
reporting.db.username = reporting
reporting.db.password = reporting
reporting.db.pool.initial = 10
reporting.db.pool.max = 40
reporting.db.txn.isolation = -1
reporting.db.pool.statements.enable = false
reporting.db.pool.statements.max = 40
reporting.db.pool.min = 0
reporting.db.pool.idle = -1
reporting.db.pool.wait.max = -1
reporting.db.pool.validate.query =
reporting.db.pool.evict.interval = -1
reporting.db.pool.evict.idle.min = 1800000
reporting.db.pool.validate.borrow = true
reporting.db.pool.validate.return = false
reporting.db.pool.evict.validate = false
reporting.db.pool.abandoned.detect = false
reporting.db.pool.abandoned.time = 300
reporting.db.pool.abandoned.log = false
reporting.scheduled.time = 0:0,12:00,15:00

#######################################
#External delivery
delivery.send.retry = 2

#######################################
#External tools
ffmpeg.enabled = true
ffmpeg.exe =ffmpeg.exe

#######################################
#Monitoring tools
javamelody.disabled = false
javamelody.no-database = false
javamelody.database-and-spring = true

#######################################
#Authentication settings
oauth2.enabled = false


# Additional settings
documents.errand.uncontrol.storePeriod=90
documents.inbox.review.storePeriod=30
documents.requestperformdatechange.rules.maxCountFromUserByErrand=2
documents.tree.years.firstvalue=2006
users.positions.ceoPosition = \u0413\u0435\u043D\u0435\u0440\u0430\u043B\u044C\u043D\u044B\u0439 \u0434\u0438\u0440\u0435\u043A\u0442\u043E\u0440
bp.resetAcquaintPeriod=P2D
document.lock.isEphemeral = false

#######################################

content.transformer.JodConverter.priority=99
content.transformer.JodConverter.extensions.doc.pdf.maxSourceSizeKBytes=102400
content.transformer.JodConverter.extensions.docm.pdf.maxSourceSizeKBytes=102400
content.transformer.JodConverter.extensions.docx.pdf.maxSourceSizeKBytes=102400
content.transformer.JodConverter.extensions.dotm.pdf.maxSourceSizeKBytes=102400
content.transformer.JodConverter.extensions.dotx.pdf.maxSourceSizeKBytes=102400
#content.transformer.JodConverter.extensions.html.pdf.supported=false
content.transformer.JodConverter.extensions.potm.pdf.maxSourceSizeKBytes=102400
content.transformer.JodConverter.extensions.potx.pdf.maxSourceSizeKBytes=102400
content.transformer.Pdf2swf.maxSourceSizeKBytes = 102400