#!/bin/bash
# 

targetstring='DMS_HOME={{dms_home}}'
onestring=$(tail -2 /etc/environment | head -1)
      if [ $onestring != $targetstring ]; 
      then
      	echo $onestring $targetstring
        echo "DMS_HOME={{dms_home}}" >> /etc/environment
        exit 0;
      fi

targetstring='export DMS_HOME={{dms_home}}'
onestring=$(tail -2 /etc/profile | head -1)
      if [ $onestring != $targetstring ];
      then
      	echo $onestring $targetstring
        echo "export DMS_HOME={{dms_home}}" >> /etc/profile
        exit 0;
      fi