<?xml version="1.0"?>

<Context docBase="{{tomcat_docbase}}" privileged="false" reloadable="false" path="/dms">

    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <Environment override="true" type="java.lang.String" value="{{dms_home}}" name="DMS_HOME"/>

    <Valve pattern="common" suffix=".log" prefix="dms-app_access."
           className="org.apache.catalina.valves.AccessLogValve"/>
</Context>