global
  log /dev/log  local0
  log /dev/log  local1 notice
{% if haproxy_socket != '' %}
  stats socket {{ haproxy_socket }} level admin
{% endif %}
{% if haproxy_chroot != '' %}
  chroot {{ haproxy_chroot }}
{% endif %}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon

  listen  stats
          bind :1936
          mode            http
          log             global

          maxconn 10

          timeout client  100s
          timeout server  100s
          timeout connect 100s
          timeout queue   100s

          stats enable
          stats hide-version
          stats refresh 30s
          stats show-node
          stats auth admin:password
          stats uri  /haproxy?stats

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
  option redispatch
{% if haproxy_version == '1.4' %}
        contimeout 5000
        clitimeout 50000
        srvtimeout 50000
{% else %}
        timeout connect 5000
        timeout client 50000
        timeout server 50000
{% endif %}
{% if ansible_os_family == 'Debian' %}
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http
{% endif %}

frontend {{ haproxy_frontend_name }}
    bind {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_port }}
    mode {{ haproxy_frontend_mode }}
    default_backend {{ haproxy_backend_name }}
    capture request header X-Forwarded-For len 64
    capture request header User-agent len 256
    capture request header Cookie len 64
    capture request header Accept-Language len 64

backend {{ haproxy_backend_name }}
    option httpchk GET /ellf
    mode {{ haproxy_backend_mode }}
    balance {{ haproxy_backend_balance_method }}
    cookie JSESSIONID prefix nocache
    cookie SERVERID insert indirect
{% for backend in groups['web'] %}
    server {{ hostvars[backend]['ansible_hostname'] }} {{ hostvars[backend]['ansible_eth1']['ipv4']['address'] }}:8080 cookie {{ hostvars[backend]['ansible_hostname'] }} check inter 5000
{% endfor %}